.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    padding: 15px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar {
    background-color: black;
    
}

.nav-item {
    color: white;
}